body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 40VW;
}
form{
    width: 25vw;
}