*{
    font-size: 14px;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    width: 90VW;
}
form{
    max-width: 650px;
    width: 80vw;
}
#edit-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 480px;
    width: 90VW;
}
#dataTable{
    max-width: 650px;
    width: 80vw;
    word-wrap: break-word;
}
.edit-form-divs{
    max-width: 450px;
    width: 80vw;
}
.column-edit{
    max-width: 35px;
    word-wrap: break-word;
} 